.css-1qcggol.e10mrw3y3 {
    display: none;
}

.css-hxt7ib.e1fqkh3o2{
    background: #007461;
}
.css-15tx938.effi0qh3, .css-1inwz65.e88czh80 ,.css-1djdyxw.ek41t0m0 ,.StyledThumbValue.css-10y5sf6.e88czh82{
    color: white;
}
